@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

img .bee {
    position: absolute;
    left: 3.15%;
    right: 93.51%;
    top: 2.13%;
    bottom: 92.22%;
    transform: rotate(29deg);
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navbar-nav {
    font-family: 'Montserrat',
    sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.315em;
    
}

.bee {
    transform: rotate(29deg);
    margin-bottom: 25px;
}